<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="irb120">

  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find irb120_jazzy_sim)/urdf/irb120_macro.urdf.xacro"/>

  <link name="world"/>

  <xacro:irb120
    bringup="false"
    robot_ip=""
    EE="false"
    EE_name=""
    prefix="$(arg prefix)"
  />

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>